<h1>Restaurant Bucket List Registration</h1>

<form action="/register" method="post">
    <div>
      <label for="username">Username: </label>
      <input type="text" name="user[username]" id="username" placeholder="Username">
    </div>

    <div>
      <label for="email">E-mail: </label>
      <input type="email" name="user[email]" id="email" placeholder="E-mail">
    </div>

    <div>
      <label for="password">Password: </label>
      <input type="password" name="user[password]" id="password" placeholder="Password">
    </div>

    <div>
      <label for="password">Confirm Password: </label>
      <input type="password" name="confirm_password" id="password" placeholder="Confirm Password">
    </div>

    <div>
      <input type="submit" value="Register">
    </div>
  
</form>

