<div class="container">
  <header><img src="" class=""></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Restaurant Bucket List</h2>

    <div class="content">
      <img src="https://d2z1w4aiblvrwu.cloudfront.net/ad/A_ul/kfc-10-chicken-share-bad-call-featuring-rob-riggle-large-3.jpg" width="900" height="600" alt="holder_photo">
    </div>

  </div>
</div>
