<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Restaurant Bucket List</h2>

    <div class="content">
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    </div>

  </div>
</div>
