<div class="container">
  <header><img src="" class=""></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Restaurant Bucket List</h2>
    
    <div class="content">
    
    </div>

  </div>
</div>
